#### Question 1

In [1]:
shopping_list = ["spam", "ham", "eggs", "ham"]

In [6]:
# 1
shopping_list[1]

'ham'

In [13]:
# 2
shopping_list[0:3]

['spam', 'ham', 'eggs']

In [8]:
# 3
shopping_list[-1]

'ham'

#### Question 2

In [25]:
stops = ["Croy", "Cumbernauld", "Falkirk High", 
         "Linlithgow", "Livingston", "Haymarket"]

In [26]:
# 1
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [27]:
# 2
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [28]:
# 3
stops.index("Croy")

1

In [37]:
# 4
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [38]:
# 5
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [41]:
# 6
stops.clear()
stops

[]

#### Question 3

In [45]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [50]:
# 1
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [51]:
person.values()

dict_values(['Steph', 31, True])

In [52]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [49]:
# 2
person["name"]

'Steph'

In [53]:
# 3
person.update({"email": "steph@codeclan.com"})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [54]:
# 4
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

#### Question 3

In [55]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [64]:
# 1    
even_numbers = []

for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)
        
even_numbers

[6, 2, 2, 6]

In [67]:
# 2
min_number = None
max_number = None

for number in numbers:
    if min_number == None or number < min_number:
        min_number = number

for number in numbers:
    if max_number == None or number > max_number:
        max_number = number

        
print(max_number - min_number)

98

In [69]:
# 2 (again)
min_number = min(numbers)
max_number = max(numbers)

print(max_number - min_number)

98

In [77]:
# 3
for i in range(len(numbers)):
    if numbers[i] == 2 and numbers[i - 1] == 2:
        print(True)

True

In [90]:
# 4
numbers_sum = 0
sum_flag = True

for i in range(len(numbers)):
    if numbers[i] == 6:
        sum_flag = False
    if numbers[i] == 7:
        sum_flag = True
    if numbers[i] != 6 and numbers[i] != 7 and sum_flag == True:
        numbers_sum = numbers_sum + numbers[i]
        
numbers_sum

2

#### Question 5

In [89]:
python_is_fun = True
python_is_weird = True

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
else: print("Python is not for me!")

Woo Python!

#### Question 6

In [91]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [94]:
def count_eggs(chicken_list):
    total_eggs = 0
    for chicken in chickens:
        total_eggs = total_eggs + chicken["eggs"]
        chicken["eggs"] = 0 # eggs have been collected
    return(f"{total_eggs} eggs collected")

In [95]:
count_eggs(chickens)

'4 eggs collected'